<div class="navbar">
    <div class="navbar__logo__wrapper">
        <h2>Session-Auth</h2>
    </div>
    <ul class="navbar__nav__items">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
    </ul>
</div>